<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('../partials/header'); %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Content -->
    <div class="container">
      <form action="/articles/create" method="POST">
        <div class="row mb-3">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="body" class="col-sm-2 col-form-label">Body</label>
          <div class="col-sm-10">
            <input type="text" name="body" class="form-control" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer'); %>
</html>
