<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('../partials/header'); %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Content -->
    <div class="container">
      <h1><%= article.title %></h1>
      <p><%= article.body %></p>
      <p><%= article.approved %></p>
    </div>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer'); %>
</html>
