<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  <%- include('../partials/header'); %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Content -->
    <div class="container">
      <% article.forEach(i => { %>
      <div class="my-3">
        <h1><%= i.title %></h1>
        <p><%= i.body %></p>
        <a href="/articles/<%= i.id %>" class="btn btn-primary">Read more</a>
      </div>
      <br />
      <% }) %>
    </div>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer'); %>
</html>
